# Python
__pycache__/
*.pyc
*.pyo

# Virtualenv
.venv/
env/
venv/

# SQLite
*.db
*.sqlite3

# Alembic
alembic/versions/__pycache__/

# OS / Editor
.DS_Store
.vscode/

# Logs
*.log

# data
data/*.json

data/faiss/
*.index
