# Python
__pycache__/
*.pyc
*.pyo

# Virtualenv
.venv/
env/
venv/

# SQLite
app.db
*.db
*.db-journal
*.db-wal
*.db-shm
*.sqlite3

# Alembic
alembic/versions/__pycache__/

# OS / Editor
.DS_Store
.vscode/

# Logs
*.log

# data
data/*.json
